button.active {
    & .fa-house-chimney {
        color: #70fff2;
    }
    & .fa-tv {
        color: #ff7070;
    }
    & .fa-headphones {
        color: #c186ff;
    }
    & .fa-dollar-sign {
        color: #a0ff23;
    }
}

.video-toolbar, .black-toolbar {
    border-top: 1px solid rgba(255,255,255,.2);
    & .tb-left *, & .tb-center *, & .tb-right * {
        color: rgba(255,255,255,.7);
    }
    & .center-tab {
        background-color: transparent;
    }
}

.video-toolbar {
    background-color: rgba(15,15,15,1);
}
.black-toolbar {
    background-color: rgba(0,0,0,1);
}